body {
    text-align: center;
    background-color: rgb(72, 135, 58);
}

label {

    width: 50vw;
}

input {

    width: 45vw;
}

h1 {
    border: 5px solid black;
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}

#bankForm {


    border: 5px ridge black;
    width: 52vw;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}


#bankForm2 {


    border: 5px ridge black;
    width: 52vw;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}

.hidden {
    display: none;
}
