body {
text-align: center;
background-color: antiquewhite;
}

h1{
    border: 3px solid black;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
}

#bankForm{


    border: 5px ridge black;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
}


